<h3>PostData Page</h3>

<form [formGroup]="formDataNew" (ngSubmit)="onSubmit()">
  <label>
    Title:
    <input type="text" formControlName="title" />
    <div *ngIf="!formDataNew.controls.title.valid" style="color: red">
      Title is required
    </div>
  </label>
  <br />
  <label>
    Author:
    <input type="text" formControlName="author" />
    <div *ngIf="!formDataNew.controls.author.valid" style="color: red">
      Author is required
    </div>
  </label>
  <br />
  <button type="submit" [disabled]="!formDataNew.valid">Submit</button>
</form>
