<h1>Angular App</h1>

<nav>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active">Home Page</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About Page</a></li>
    <li>
      <a routerLink="/templatedrivenform" routerLinkActive="active"
        >TemplateDrivenForm Page</a
      >
    </li>
    <li>
      <a routerLink="/reactiveform" routerLinkActive="active"
        >ReactiveForm Page</a
      >
    </li>
    <li><a routerLink="/getdata" routerLinkActive="active">GetData Page</a></li>
    <li>
      <a routerLink="/postdata" routerLinkActive="active">PostData Page</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
